<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="main-panel">
  <div class="content-wrapper">
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <form
        class="forms-sample"
        action="/admin/addcoupon"
        method="post"
        
      >
        <div class="form-group">
          <label for="exampleInputName1">Coupon Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName1"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Min purchase</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail3"
            name="purchase"
          />
        </div>
     
        <div class="form-group">
          <label for="exampleInputCity1">Max Discount</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputCity1"
            name="discount"
          />
        </div>
        
        <div class="form-group">
          <label for="exampleTextarea1">Exp Date</label>
          <input
            type="text"
            class="form-control"
            id="exampleTextarea1"
            name="date"
          />
        </div>
        

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a href="/admin/couponmanagement"><button class="btn btn-dark" type="button" >Cancel</button></a>
      </form>
    </div>
  </div>
</div>
</div>
</div>

<%-include("../layouts/admin/adminFooter.ejs")-%>
