
<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      
        <a href="/admin/addbanner"><button class=" btn btn-primary btn-md mt-5 ">Add banner+</button></a>  
        <div class="table-responsive mt-3 ">
          <table class="table table-dark text-white" >
            <thead >
              <tr>
                <th  class="text-white">S_NO</th>
                <th  class="text-white">Title</th>
                <th  class="text-white">IMAGE</th>
                <th  class="text-white">ACTION</th>
              </tr>
            
                <td> </td>
                <td></td>
                <td class="py-1"  >
                  <img     style="border-radius:  0%; height: 50px; width : 50px;" src="" alt="image" />
                </td>
                <td></td>
                <td></td>
                <td></td>
               
                  
                </td>
              </tr>    
        
            </thead>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  <%-include("../layouts/admin/adminFooter.ejs")-%>