
<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      
        <a href="/admin/addcoupon"><button class=" btn btn-primary btn-md mt-5 ">Add Coupon+</button></a>  
        <div class="table-responsive mt-3 ">
          <table class="table table-dark text-white" >
            <thead >
              <tr>
                <th  class="text-white">S_NO</th>
                <th  class="text-white">NAME</th>
                <th  class="text-white">IMAGE</th>
                <th class="text-white"> CATEGORY</th>
                <th class="text-white">PRICE</th>
                <th class="text-white">STOCK</th>
                <th  class="text-white">ACTION</th>
              </tr>
             
                <td> </td>
                <td></td>
                
                <td></td>
                <td></td>
                <td></td>
                
                </td>
              </tr>    
           
            </thead>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  <%-include("../layouts/admin/adminFooter.ejs")-%>