<%- include("../layouts/user/userHeader.ejs")-%>
<div class="register-photo">
    <div class="form-container" style="width: 400px;">
        <form method="post" action="/resetpassword">
            <h4 class="text-center"><strong>Find your Account</strong></h4>
            <div class="form-group mt-3">
                <input class="form-control" type="email" name="email" id="emailInput" placeholder="Email" required>
            </div>
            <p class="text-danger" id="emailError"></p>
            <p class="text-danger"><%= locals.err ? locals.err : "" %></p>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<%- include("../layouts/user/userFooter.ejs")-%>
